.input-field {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.input-field .form-control,
.input-field .btn {
    flex: 1 1 100%;
    max-width: 600px;
}

#listaLivros {
    display: flex;
    justify-content: center;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/* As seguintes regras CSS são exemplos. 
Você pode precisar ajustar essas regras dependendo de como você está estruturando seus livros. */

.book {
    flex: 1 1 200px;
    max-width: 200px;
}

@media (min-width: 640px) {
    .input-field .form-control,
    .input-field .btn {
        flex: 1;
    }

    .book {
        flex: 1 1 150px;
    }
}
